@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="inner">
    <aside>
        <header>
            <h2>Overskrift</h2>
        </header>
        <p>Scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros.</p>
    </aside>
    <aside>
        <div class="social-icons">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </aside>
    
    <aside class="category">
        <header>
            <h2>Kategorier</h2>
        </header>
        <ul>
            <li><a href="#" class="hover-btn">content</a><span>(25)</span></li>
            <li><a href="#" class="hover-btn">content</a><span>(17)</span></li>
            <li><a href="#" class="hover-btn">content</a><span>(13)</span></li>
        </ul>
    </aside>
    <aside class="search">
        <form>
            <input type="text" value="" placeholder="Find" />
            <button><i class="fa fa-search"></i></button>
        </form>
    </aside>
    <aside class="recent-posts">
        <header>
            <h2>Seneste opslag</h2>
        </header>
        <a href="">
            <h3>overskrift</h3>
            <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>
            <span><i class="fa fa-calendar"></i> 08 jun 2015</span>
        </a>
    </aside>
</div>