#navigation {
    position: fixed;
    top: 0;
    right: 40px;
    z-index: 999;

    @media only screen and (min-width: 1500px) {
    right: 15%;
}

    

    .nav-inner {
        position: relative;
        background-color: #fff;
        width: 200px;
    }

    .logo {
        position:relative;
        width:100%;
        height: 75px;
        display: block;
        text-align:center;
        a {
            &:hover h1 {
                color: #333;
            }
        }

        h1 {
            position:relative;
            text-transform: uppercase;
            font-size: 22px;
            line-height: 30px;
            font-weight: 700;
            top: 10px;
            padding: 0 0 6px 0;
            margin:0;
        }

         img {
                position:relative;
                top:-2px;
                width: 12px;
                margin: 0;
                padding:0;
            }

        h2 {
                position:relative;                
                text-transform: uppercase;
                font-size: 13.1px;
                line-height: 16px;
                font-weight: 700;
                color: #9f9f9f;
                margin:0;
                padding: 0;
            }
    }

    .portrait {
        display: block;
        position: relative;
        margin: auto;
        border: 1px solid #d7d7d7;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 20px 0;

        li.current {
            background-color: #0f0;

                &::before {
                     -webkit-transform: translateX(30px); 
                        -moz-transform: translateX(30px); 
                        -ms-transform: translateX(30px); 
                        -o-transform: translateX(30px); 
                        transform: translateX(30px);
                }
               
        }

        li {
            position: relative;
            padding: 0;

            -moz-transition: all 0.2s ease-in-out 0s;
            -o-transition: all 0.2s ease-in-out 0s;
             -webkit-transition: all 0.2s ease-in-out 0s;
             transition: all 0.2s ease-in-out 0s;

            &:hover {
                background-color: #0f0;
                

                &::before {
                     -webkit-transform: translateX(30px); 
                        -moz-transform: translateX(30px); 
                        -ms-transform: translateX(30px); 
                        -o-transform: translateX(30px); 
                        transform: translateX(30px);
                }
            }

            &::before {
                content: "";
                display: block;
                width: 30px;
                height: 30px;
                position: absolute;
                background-color: #0f0;
                top: 0;
                right:0;
                z-index: -1;

                -moz-transition: all 0.2s ease-in-out 0s;
            -o-transition: all 0.2s ease-in-out 0s;
             -webkit-transition: all 0.2s ease-in-out 0s;
             transition: all 0.2s ease-in-out 0s;
            }

            a {
                position:relative;
                display: block;
                padding: 0px 20px;
                height: 30px;
                line-height: 30px;
                white-space: nowrap;
                font-size: 15px;
                font-weight: 600;
                color: #333;

                span {
                    position:absolute;
                    left: 8px;
                }
            }

            ul {
                padding: 0;
            }
        }
    }

    li.sub {

        ul {
            display:none;

            li {
                background-color: #f1f1f1;
                color: #333;

                -moz-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
             -webkit-transition: all 0.3s ease-in-out 0s;
             transition: all 0.3s ease-in-out 0s;

                &:hover {
                    background-color: #e1e1e1;

                    &::before {
                        -webkit-transform: translateX(0); 
                        -moz-transform: translateX(0); 
                        -ms-transform: translateX(0); 
                        -o-transform: translateX(0); 
                        transform: translateX(0);
                    }
                }

                a {
                     
                }
            }
        }
    }
}

.mobile {
        display:none;
        position: fixed;
        bottom: 0;
        right:0;
        color: #333;
        font-size: 30px;
        background-color: rgba(255, 255, 255, 0.60);
        padding: 5px 15px;
        z-index: 9999;

        &:hover {

            a {
                color: #0f0;

                i {
                    color: #0f0;
                }
            }
            
        }

    }

@media only screen and (max-width: 995px) {
    .mobile {
            display: block;
        }

    #navigation {
        right: 0;
        -moz-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
             -webkit-transition: all 0.3s ease-in-out 0s;
             transition: all 0.3s ease-in-out 0s;
        &.not-active {
         -moz-transform: translateX(200px);
        -ms-transform: translateX(200px);
        -o-transform: translateX(200px);
        -webkit-transform: translateX(200px);
        transform: translateX(200px); 
        }

        &.active {
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px); 
        }
                     
        

        .nav-inner {
            height: 100vh;
            overflow: scroll;
        }
    }
}
