<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT BlogList ANY>
<!ATTLIST BlogList id ID #REQUIRED>
<!ELEMENT BlogPage ANY>
<!ATTLIST BlogPage id ID #REQUIRED>
<!ELEMENT ContactPage ANY>
<!ATTLIST ContactPage id ID #REQUIRED>
<!ELEMENT DropdownMenuLinks ANY>
<!ATTLIST DropdownMenuLinks id ID #REQUIRED>
<!ELEMENT FrontPage ANY>
<!ATTLIST FrontPage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>

]>
<root id="-1">
  <FrontPage id="1055" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-08-24T14:54:32" updateDate="2015-08-24T17:09:46" nodeName="René Gade" urlName="rené-gade" path="-1,1055" isDoc="" nodeType="1047" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1050" nodeTypeAlias="FrontPage">
    <showInNavigation>1</showInNavigation>
    <companyName><![CDATA[René Gade]]></companyName>
    <alternateNavigationName><![CDATA[Blog]]></alternateNavigationName>
    <avatar><![CDATA[{
  "focalPoint": {
    "left": 0.47,
    "top": 0.5
  },
  "src": "/media/1001/rene_gade-fotograf_steen_brogaard.jpg",
  "crops": []
}]]></avatar>
    <backgroundImage><![CDATA[/media/1003/folketinget-bw.jpg]]></backgroundImage>
    <title><![CDATA[Nullam luctus ornare augue]]></title>
    <subtitle><![CDATA[Sed ut ultrices ex, nec dignissim arcu. Cras auctor imperdiet sapien ut egestas. Maecenas ut nibh condimentum orci scelerisque volutpat sit amet vel diam. Duis ipsum tortor, porta suscipit erat vitae, suscipit tempor mauris. Cras ut laoreet lacus. Suspendisse a augue vitae turpis mattis volutpat.]]></subtitle>
    <DropdownMenuLinks id="1057" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2015-08-24T14:57:35" updateDate="2015-08-24T15:13:56" nodeName="Om Mig" urlName="om-mig" path="-1,1055,1057" isDoc="" nodeType="1056" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="0" nodeTypeAlias="DropdownMenuLinks">
      <showInNavigation>1</showInNavigation>
      <relatedLinks><![CDATA[[
  {
    "caption": "Pixel Pushr",
    "link": "http://pixelpushr.dk",
    "newWindow": true,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Pixel Pushr"
  }
]]]></relatedLinks>
    </DropdownMenuLinks>
    <DropdownMenuLinks id="1058" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2015-08-24T14:58:12" updateDate="2015-08-24T14:58:12" nodeName="Alternativet" urlName="alternativet" path="-1,1055,1058" isDoc="" nodeType="1056" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="0" nodeTypeAlias="DropdownMenuLinks">
      <showInNavigation>1</showInNavigation>
    </DropdownMenuLinks>
    <DropdownMenuLinks id="1059" parentID="1055" level="2" creatorID="0" sortOrder="2" createDate="2015-08-24T14:58:22" updateDate="2015-08-24T15:08:17" nodeName="Folketinget" urlName="folketinget" path="-1,1055,1059" isDoc="" nodeType="1056" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="0" nodeTypeAlias="DropdownMenuLinks">
      <showInNavigation>1</showInNavigation>
    </DropdownMenuLinks>
    <ContactPage id="1060" parentID="1055" level="2" creatorID="0" sortOrder="3" createDate="2015-08-24T14:58:44" updateDate="2015-08-24T14:58:44" nodeName="Kontakt" urlName="kontakt" path="-1,1055,1060" isDoc="" nodeType="1048" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1051" nodeTypeAlias="ContactPage">
      <showInNavigation>1</showInNavigation>
    </ContactPage>
    <BlogList id="1061" parentID="1055" level="2" creatorID="0" sortOrder="4" createDate="2015-08-24T14:59:29" updateDate="2015-08-24T14:59:36" nodeName="Blog Arkiv" urlName="blog-arkiv" path="-1,1055,1061" isDoc="" nodeType="1054" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="0" nodeTypeAlias="BlogList">
      <showInNavigation>0</showInNavigation>
      <BlogPage id="1062" parentID="1061" level="3" creatorID="0" sortOrder="0" createDate="2015-08-24T15:50:37" updateDate="2015-08-24T16:22:23" nodeName="Den første Blog" urlName="den-foerste-blog" path="-1,1055,1061,1062" isDoc="" nodeType="1053" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1052" nodeTypeAlias="BlogPage">
        <showInNavigation>0</showInNavigation>
        <headerImage><![CDATA[{
  "focalPoint": {
    "left": 0.4975,
    "top": 0.5168539325842697
  },
  "src": "/media/1002/folketinget.jpg",
  "crops": []
}]]></headerImage>
        <subtitle><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum nulla at metus vulputate, ut consectetur ipsum porta. Suspendisse feugiat sollicitudin maximus.]]></subtitle>
        <bodyText><![CDATA[<p>Ut vel enim nec arcu aliquam ullamcorper. Fusce tempus mi in massa sagittis, eget ornare lorem aliquet. Fusce massa massa, hendrerit sed vulputate ac, egestas sit amet sapien. Nunc blandit lectus sollicitudin, vulputate nibh sit amet, posuere ex. Praesent ipsum ante, maximus ac mi in, dignissim laoreet ante. Cras ac viverra odio, eget consequat elit. Quisque laoreet lacus id pharetra auctor. Praesent nec consectetur nulla, quis scelerisque risus. Nulla quis nibh mattis turpis porttitor tincidunt vitae ut metus.</p>
<p>Sed ut ultrices ex, nec dignissim arcu. Cras auctor imperdiet sapien ut egestas. Maecenas ut nibh condimentum orci scelerisque volutpat sit amet vel diam. Duis ipsum tortor, porta suscipit erat vitae, suscipit tempor mauris. Cras ut laoreet lacus. Suspendisse a augue vitae turpis mattis volutpat. Aenean congue leo turpis, non eleifend quam posuere eget. Aenean consectetur gravida viverra. Ut faucibus ligula dolor, vitae laoreet purus venenatis ac. Ut sed consequat justo. Nunc vulputate congue odio, at sagittis turpis dignissim eget. In dapibus metus et nisl luctus, a euismod ante tempus. Duis malesuada pharetra tempor.</p>
<p>Fusce pretium orci ut quam porttitor sollicitudin. In accumsan orci non hendrerit porta. Curabitur tincidunt tellus id massa posuere, sit amet hendrerit ligula bibendum. Donec vitae pretium justo. Proin pulvinar rutrum enim at tristique. Donec malesuada at ante non malesuada. Praesent luctus lectus eu enim porta, vitae tincidunt justo ultricies. Quisque id sapien vel mi tempor porttitor. Morbi rutrum, est eget placerat varius, nisl odio tincidunt est, quis laoreet nisl ipsum sed eros. Ut facilisis aliquet est.</p>]]></bodyText>
      </BlogPage>
      <BlogPage id="1063" parentID="1061" level="3" creatorID="0" sortOrder="1" createDate="2015-08-24T17:06:32" updateDate="2015-08-24T17:06:48" nodeName="Den Anden Blog" urlName="den-anden-blog" path="-1,1055,1061,1063" isDoc="" nodeType="1053" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1052" nodeTypeAlias="BlogPage">
        <showInNavigation>0</showInNavigation>
        <headerImage><![CDATA[{
  "focalPoint": {
    "left": 0.4725,
    "top": 0.29333333333333333
  },
  "src": "/media/1004/bjork-edited.jpg",
  "crops": []
}]]></headerImage>
        <subtitle><![CDATA[Sed ut ultrices ex, nec dignissim arcu. Cras auctor imperdiet sapien ut egestas. Maecenas ut nibh condimentum orci scelerisque volutpat sit amet vel diam. Duis ipsum tortor, porta suscipit erat vitae, suscipit tempor mauris. Cras ut laoreet lacus. Suspendisse a augue vitae turpis mattis volutpat.]]></subtitle>
        <bodyText><![CDATA[<p>Ut vel enim nec arcu aliquam ullamcorper. Fusce tempus mi in massa sagittis, eget ornare lorem aliquet. Fusce massa massa, hendrerit sed vulputate ac, egestas sit amet sapien. Nunc blandit lectus sollicitudin, vulputate nibh sit amet, posuere ex. Praesent ipsum ante, maximus ac mi in, dignissim laoreet ante. Cras ac viverra odio, eget consequat elit. Quisque laoreet lacus id pharetra auctor. Praesent nec consectetur nulla, quis scelerisque risus. Nulla quis nibh mattis turpis porttitor tincidunt vitae ut metus.</p>
<p>Sed ut ultrices ex, nec dignissim arcu. Cras auctor imperdiet sapien ut egestas. Maecenas ut nibh condimentum orci scelerisque volutpat sit amet vel diam. Duis ipsum tortor, porta suscipit erat vitae, suscipit tempor mauris. Cras ut laoreet lacus. Suspendisse a augue vitae turpis mattis volutpat. Aenean congue leo turpis, non eleifend quam posuere eget. Aenean consectetur gravida viverra. Ut faucibus ligula dolor, vitae laoreet purus venenatis ac. Ut sed consequat justo. Nunc vulputate congue odio, at sagittis turpis dignissim eget. In dapibus metus et nisl luctus, a euismod ante tempus. Duis malesuada pharetra tempor.</p>
<p>Fusce pretium orci ut quam porttitor sollicitudin. In accumsan orci non hendrerit porta. Curabitur tincidunt tellus id massa posuere, sit amet hendrerit ligula bibendum. Donec vitae pretium justo. Proin pulvinar rutrum enim at tristique. Donec malesuada at ante non malesuada. Praesent luctus lectus eu enim porta, vitae tincidunt justo ultricies. Quisque id sapien vel mi tempor porttitor. Morbi rutrum, est eget placerat varius, nisl odio tincidunt est, quis laoreet nisl ipsum sed eros. Ut facilisis aliquet est.</p>]]></bodyText>
      </BlogPage>
    </BlogList>
  </FrontPage>
</root>