<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Comment ANY>
<!ATTLIST Comment id ID #REQUIRED>
<!ELEMENT BlogList ANY>
<!ATTLIST BlogList id ID #REQUIRED>
<!ELEMENT BlogPage ANY>
<!ATTLIST BlogPage id ID #REQUIRED>
<!ELEMENT ContactPage ANY>
<!ATTLIST ContactPage id ID #REQUIRED>
<!ELEMENT DropdownMenuLinks ANY>
<!ATTLIST DropdownMenuLinks id ID #REQUIRED>
<!ELEMENT ErrorPage ANY>
<!ATTLIST ErrorPage id ID #REQUIRED>
<!ELEMENT FrontPage ANY>
<!ATTLIST FrontPage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>

]>
<root id="-1">
  <FrontPage id="1055" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-08-24T14:54:32" updateDate="2015-08-27T01:06:10" nodeName="René Gade" urlName="rené-gade" path="-1,1055" isDoc="" nodeType="1047" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1050" nodeTypeAlias="FrontPage">
    <showInNavigation>1</showInNavigation>
    <blogName><![CDATA[René Gade MF]]></blogName>
    <blogLogo>1095</blogLogo>
    <Location><![CDATA[København 2000, Danmark]]></Location>
    <Address><![CDATA[Sønderallé 23]]></Address>
    <Phone><![CDATA[+45 4586 6778]]></Phone>
    <contactMail><![CDATA[mail@kontakt.dk]]></contactMail>
    <facebook><![CDATA[https://www.facebook.com/pages/Ren%C3%A9-Gade/1634197106810421?fref=ts]]></facebook>
    <alternateNavigationName><![CDATA[Blog]]></alternateNavigationName>
    <avatar><![CDATA[{
  "focalPoint": {
    "left": 0.47,
    "top": 0.5
  },
  "src": "/media/1001/rene_gade-fotograf_steen_brogaard.jpg",
  "crops": []
}]]></avatar>
    <backgroundImage><![CDATA[/media/1003/folketinget-bw.jpg]]></backgroundImage>
    <title><![CDATA[Blog]]></title>
    <subtitle><![CDATA[Sådan lyder spørgsmålet, som Kim Knudsen har sendt ind til Aftenshowet, der havde Socialdemokraternes formand, Mette Frederiksen, på besøg. Men at det skulle være tilfældet, afviser hun pure. Altså det har jeg simpelthen ikke gjort, så den præmis køber jeg slet ikke.]]></subtitle>
    <BlogList id="1061" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2015-08-24T14:59:29" updateDate="2015-08-26T19:32:42" nodeName="Blog Arkiv" urlName="blog-arkiv" path="-1,1055,1061" isDoc="" nodeType="1054" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="0" nodeTypeAlias="BlogList">
      <showInNavigation>0</showInNavigation>
      <commentExplanation><![CDATA[I Vestafrika synes en hel generation af unge mænd at være overbeviste om, at ’bagvejen’ til Europa er eneste udvej til at skabe sig en bedre tilværelse. Information er taget den modsatte vej af to gambiske bådflygtninge tilbage til deres landsby for at finde svar på, hvorfor de tog af sted. Fattigdom og politisk undertrykkelse er kun en del af forklaringen.]]></commentExplanation>
      <BlogPage id="1062" parentID="1061" level="3" creatorID="0" sortOrder="0" createDate="2015-08-24T15:50:37" updateDate="2015-08-25T12:11:54" nodeName="Den første Blog" urlName="den-foerste-blog" path="-1,1055,1061,1062" isDoc="" nodeType="1053" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1052" nodeTypeAlias="BlogPage">
        <showInNavigation>0</showInNavigation>
        <headerImage><![CDATA[{
  "focalPoint": {
    "left": 0.4975,
    "top": 0.5168539325842697
  },
  "src": "/media/1002/folketinget.jpg",
  "crops": []
}]]></headerImage>
        <subtitle><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum nulla at metus vulputate, ut consectetur ipsum porta. Suspendisse feugiat sollicitudin maximus.]]></subtitle>
        <bodyText><![CDATA[<p>Ut vel enim nec arcu aliquam ullamcorper. Fusce tempus mi in massa sagittis, eget ornare lorem aliquet. Fusce massa massa, hendrerit sed vulputate ac, egestas sit amet sapien. Nunc blandit lectus sollicitudin, vulputate nibh sit amet, posuere ex. Praesent ipsum ante, maximus ac mi in, dignissim laoreet ante. Cras ac viverra odio, eget consequat elit. Quisque laoreet lacus id pharetra auctor. Praesent nec consectetur nulla, quis scelerisque risus. Nulla quis nibh mattis turpis porttitor tincidunt vitae ut metus.</p>
<p>Sed ut ultrices ex, nec dignissim arcu. Cras auctor imperdiet sapien ut egestas. Maecenas ut nibh condimentum orci scelerisque volutpat sit amet vel diam. Duis ipsum tortor, porta suscipit erat vitae, suscipit tempor mauris. Cras ut laoreet lacus. Suspendisse a augue vitae turpis mattis volutpat. Aenean congue leo turpis, non eleifend quam posuere eget. Aenean consectetur gravida viverra. Ut faucibus ligula dolor, vitae laoreet purus venenatis ac. Ut sed consequat justo. Nunc vulputate congue odio, at sagittis turpis dignissim eget. In dapibus metus et nisl luctus, a euismod ante tempus. Duis malesuada pharetra tempor.</p>
<p>Fusce pretium orci ut quam porttitor sollicitudin. In accumsan orci non hendrerit porta. Curabitur tincidunt tellus id massa posuere, sit amet hendrerit ligula bibendum. Donec vitae pretium justo. Proin pulvinar rutrum enim at tristique. Donec malesuada at ante non malesuada. Praesent luctus lectus eu enim porta, vitae tincidunt justo ultricies. Quisque id sapien vel mi tempor porttitor. Morbi rutrum, est eget placerat varius, nisl odio tincidunt est, quis laoreet nisl ipsum sed eros. Ut facilisis aliquet est.</p>]]></bodyText>
        <categories><![CDATA[Forsvar]]></categories>
        <tags><![CDATA[Politik,Danmark,Kampfly]]></tags>
        <Comment id="1084" parentID="1062" level="4" creatorID="0" sortOrder="0" createDate="2015-08-25T13:41:31" updateDate="2015-08-25T13:41:31" nodeName="Johnny Kristensen" urlName="johnny-kristensen" path="-1,1055,1061,1062,1084" isDoc="" nodeType="1082" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="0" nodeTypeAlias="Comment">
          <firstName><![CDATA[Johnny]]></firstName>
          <comment><![CDATA[Bente Petersen og delvis Henrik Petersen overser ganske sagens kerne - nemlig at manden dels er kommet til Danmark gennem andre lande, hvor han kunne have søgt asyl; dels ikke kan dokumentere sin "historie".

De to hører til de uforbedrelige "humanister", som tror, at det ikke har nogen som helst alvorlige konsekvenser for det danske samfund ved at åbne porten for alverdens asylansøgere (bemærk, at jeg ikke skriver flygtninge, for den status får man ikke ved bare at dukke op ved "Danmarks port", men ved at kunne bevise, at man er politisk forfulgt).

Vi står overfor en folkevandring. Men de to Petersen'er lever i anden verdenskrigs jødeforfølgelser, som intet har med dagens situation at gøre. Eller de glade indsamlingsdage 1956-57, hvor Danmark modtog 5000 meget integrationslette flygtninge fra det kommunistiske Ungarn.]]></comment>
          <lastName><![CDATA[Kristensen]]></lastName>
        </Comment>
        <Comment id="1085" parentID="1062" level="4" creatorID="0" sortOrder="1" createDate="2015-08-25T13:42:27" updateDate="2015-08-25T13:42:27" nodeName="Johnny Kristensen (1)" urlName="johnny-kristensen-1" path="-1,1055,1061,1062,1085" isDoc="" nodeType="1082" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="0" nodeTypeAlias="Comment">
          <firstName><![CDATA[Johnny]]></firstName>
          <comment><![CDATA[Hvorfor søger så mange syrere til Danmark (og Sverige eller et Tyskland, der risikerere at segne under byrden af migranter)? Hvis vi legede med tanken, at vi oprettede en asyllejr i Sydgrønland og sendte alle de uindbudte der op, hvor de kunne være under ordnede forhold, indtil deres sag var afgjort, så stod sagen anderledes. Hvis de nægtes asyl og ikke vil rejse hjem, må de blive i Grønland. Bruger de deres børn som gidsler over for de danske myndigheder, må Børneværnet gribe ind.

Hvor mange asylansøgere, der mon så kom til Danmark? Kom med et gæt!

Og strømmen af afrikanere i både over Middelhavet? I Søndags-Politiken skrev chefredaktør Bo Lidegaard en leder. Her står der bl.a.:]]></comment>
          <lastName><![CDATA[Kristensen]]></lastName>
        </Comment>
        <Comment id="1086" parentID="1062" level="4" creatorID="0" sortOrder="2" createDate="2015-08-25T13:46:33" updateDate="2015-08-25T13:46:33" nodeName="René Gade" urlName="rené-gade" path="-1,1055,1061,1062,1086" isDoc="" nodeType="1082" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="0" nodeTypeAlias="Comment">
          <firstName><![CDATA[René]]></firstName>
          <comment><![CDATA["Den nye virkelighed er, at summen af disse strømme har nået et omfang, som er voldsomt meget større end for bare få år siden. Alt tyder på, at den i de kommende år vil blive markant større, end den er i dag.
Uanset hvor meget vi og andre europæiske lande fokuserer på at forbedre levevilkårene i de områder, migranterne kommer fra, kræver det både lukkede øjne og ekstrem optimisme at forestille sig, at det vil begrænse antallet mærkbart.
Den situation forandrer også Europa. Vi er nødt til at handle meget hurtigt for at få situationen under kontrol. Det gælder både som enkeltlande og inden for vores europæiske fællesskab. Ikke fordi det antal flygtninge og indvandrere, der er kommet gennem det sidste år, i sig selv er uoverkommeligt, men fordi vi ikke kan se passivt til, mens strømmen bliver ved med at vokse."

Det var sandelig på tiden, at også Poliitken vågnede op!

Et andet aspekt ved den enorme indvandring er reaktionerne i de europæiske lande. Vi ser allerede nu voksende højrepopulisme og i Tyskland endog fysiske angreb på migranterne. Er det sådanne tilstande - som også vil vokse til det ukontrallable! - at de to Petersen'er ønsker, eller har de bare lukket øjnene?]]></comment>
          <lastName><![CDATA[Gade]]></lastName>
        </Comment>
      </BlogPage>
      <BlogPage id="1063" parentID="1061" level="3" creatorID="0" sortOrder="1" createDate="2015-08-24T17:06:32" updateDate="2015-08-25T17:00:02" nodeName="Den Anden Blog" urlName="den-anden-blog" path="-1,1055,1061,1063" isDoc="" nodeType="1053" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1052" nodeTypeAlias="BlogPage">
        <showInNavigation>0</showInNavigation>
        <headerImage><![CDATA[{
  "focalPoint": {
    "left": 0.4725,
    "top": 0.29333333333333333
  },
  "src": "/media/1004/bjork-edited.jpg",
  "crops": []
}]]></headerImage>
        <subtitle><![CDATA[Sed ut ultrices ex, nec dignissim arcu. Cras auctor imperdiet sapien ut egestas. Maecenas ut nibh condimentum orci scelerisque volutpat sit amet vel diam. Duis ipsum tortor, porta suscipit erat vitae, suscipit tempor mauris. Cras ut laoreet lacus. Suspendisse a augue vitae turpis mattis volutpat.]]></subtitle>
        <bodyText><![CDATA[<p>Ut vel enim nec arcu aliquam ullamcorper. Fusce tempus mi in massa sagittis, eget ornare lorem aliquet. Fusce massa massa, hendrerit sed vulputate ac, egestas sit amet sapien. Nunc blandit lectus sollicitudin, vulputate nibh sit amet, posuere ex. Praesent ipsum ante, maximus ac mi in, dignissim laoreet ante. Cras ac viverra odio, eget consequat elit. Quisque laoreet lacus id pharetra auctor. Praesent nec consectetur nulla, quis scelerisque risus. Nulla quis nibh mattis turpis porttitor tincidunt vitae ut metus.</p>
<p>Sed ut ultrices ex, nec dignissim arcu. Cras auctor imperdiet sapien ut egestas. Maecenas ut nibh condimentum orci scelerisque volutpat sit amet vel diam. Duis ipsum tortor, porta suscipit erat vitae, suscipit tempor mauris. Cras ut laoreet lacus. Suspendisse a augue vitae turpis mattis volutpat. Aenean congue leo turpis, non eleifend quam posuere eget. Aenean consectetur gravida viverra. Ut faucibus ligula dolor, vitae laoreet purus venenatis ac. Ut sed consequat justo. Nunc vulputate congue odio, at sagittis turpis dignissim eget. In dapibus metus et nisl luctus, a euismod ante tempus. Duis malesuada pharetra tempor.</p>
<p>Fusce pretium orci ut quam porttitor sollicitudin. In accumsan orci non hendrerit porta. Curabitur tincidunt tellus id massa posuere, sit amet hendrerit ligula bibendum. Donec vitae pretium justo. Proin pulvinar rutrum enim at tristique. Donec malesuada at ante non malesuada. Praesent luctus lectus eu enim porta, vitae tincidunt justo ultricies. Quisque id sapien vel mi tempor porttitor. Morbi rutrum, est eget placerat varius, nisl odio tincidunt est, quis laoreet nisl ipsum sed eros. Ut facilisis aliquet est.</p>]]></bodyText>
        <categories><![CDATA[Miljø]]></categories>
        <tags><![CDATA[Planter,Gift]]></tags>
      </BlogPage>
      <BlogPage id="1087" parentID="1061" level="3" creatorID="0" sortOrder="2" createDate="2015-08-25T16:55:34" updateDate="2015-08-25T18:28:41" nodeName="Tredje Blog Indlæg" urlName="tredje-blog-indlaeg" path="-1,1055,1061,1087" isDoc="" nodeType="1053" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1052" nodeTypeAlias="BlogPage">
        <showInNavigation>0</showInNavigation>
        <headerImage><![CDATA[{
  "focalPoint": {
    "left": 0.4975,
    "top": 0.44
  },
  "src": "/media/1005/giraffe_dream-1920x1080.jpg",
  "crops": []
}]]></headerImage>
        <subtitle><![CDATA[Alle dem, der med Mette Frederiksen havde håbet på et nyt socialdemokratisk projekt, må foreløbig stå tilbage med lange kæber. I sine første politiske formandsinterview, velorkestreret søndag i de tre morgenaviser, var det mest bemærkelsesværdige, hvor lidt Socialdemokraternes nye formand reelt sagde.]]></subtitle>
        <bodyText><![CDATA[<div class="field field-name-body">
<p>Alle dem, der med Mette Frederiksen havde håbet på et nyt socialdemokratisk projekt, må foreløbig stå tilbage med lange kæber. I sine første politiske formandsinterview, velorkestreret søndag i de tre morgenaviser, var det mest bemærkelsesværdige, hvor lidt Socialdemokraternes nye formand reelt sagde.</p>
<p>Det gav de tre aviser anledning til at udlægge den samme kvindes budskaber i tre temmelig forskellige retninger: I Politiken ville hun trække partiet i en mere venstreorienteret retning, i Berlingske ville hun ikke dreje mod venstre, og Jyllands-Posten lod hende fastslå, at Socialdemokraterne bestemt allerede ligger til venstre for midten. Bare meget lidt til venstre forstås.</p>
<p>Mette Frederiksen skal ikke holdes ansvarlig for avisernes udlægninger, men tilbage står et noget tåget billede af Mette Frederiksens moderne socialdemokratisme.</p>
</div>]]></bodyText>
        <categories><![CDATA[Miljø]]></categories>
        <tags><![CDATA[Spild,Mad]]></tags>
        <Comment id="1088" parentID="1087" level="4" creatorID="0" sortOrder="0" createDate="2015-08-25T16:58:45" updateDate="2015-08-25T16:58:45" nodeName="Søren Ringhauge" urlName="soeren-ringhauge" path="-1,1055,1061,1087,1088" isDoc="" nodeType="1082" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="0" nodeTypeAlias="Comment">
          <firstName><![CDATA[Søren]]></firstName>
          <comment><![CDATA[Nikolaj Kirk ville egentlig have lavet noget med dyr. Han ville gerne have været dyrepasser eller biolog. Men han var ikke så meget for at læse bøger, da han gik i skole. Der skulle ske noget! Men han var god til at lave mad. Og så tænkte han: ’Jeg starter dér. Så ser vi’.]]></comment>
          <lastName><![CDATA[Ringhauge]]></lastName>
        </Comment>
      </BlogPage>
    </BlogList>
    <DropdownMenuLinks id="1057" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2015-08-24T14:57:35" updateDate="2015-08-27T01:07:20" nodeName="Om Mig" urlName="om-mig" path="-1,1055,1057" isDoc="" nodeType="1056" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="0" nodeTypeAlias="DropdownMenuLinks">
      <showInNavigation>1</showInNavigation>
      <relatedLinks><![CDATA[[
  {
    "caption": "Folketinget",
    "link": "http://www.ft.dk/Folketinget/findMedlem/rene-gade.aspx",
    "newWindow": true,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Folketinget"
  }
]]]></relatedLinks>
    </DropdownMenuLinks>
    <DropdownMenuLinks id="1058" parentID="1055" level="2" creatorID="0" sortOrder="2" createDate="2015-08-24T14:58:12" updateDate="2015-08-25T12:06:10" nodeName="Alternativet" urlName="alternativet" path="-1,1055,1058" isDoc="" nodeType="1056" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="0" nodeTypeAlias="DropdownMenuLinks">
      <showInNavigation>1</showInNavigation>
    </DropdownMenuLinks>
    <DropdownMenuLinks id="1059" parentID="1055" level="2" creatorID="0" sortOrder="3" createDate="2015-08-24T14:58:22" updateDate="2015-08-25T12:06:10" nodeName="Folketinget" urlName="folketinget" path="-1,1055,1059" isDoc="" nodeType="1056" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="0" nodeTypeAlias="DropdownMenuLinks">
      <showInNavigation>1</showInNavigation>
    </DropdownMenuLinks>
    <ContactPage id="1060" parentID="1055" level="2" creatorID="0" sortOrder="4" createDate="2015-08-24T14:58:44" updateDate="2015-08-26T19:42:03" nodeName="Kontakt" urlName="kontakt" path="-1,1055,1060" isDoc="" nodeType="1048" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1051" nodeTypeAlias="ContactPage">
      <showInNavigation>1</showInNavigation>
      <subtitle><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut arcu quis mauris maximus dignissim. Vestibulum at nisl non augue pulvinar pharetra. Mauris auctor ex eu ex mollis, id consequat arcu tincidunt.]]></subtitle>
    </ContactPage>
    <ErrorPage id="1080" parentID="1055" level="2" creatorID="0" sortOrder="5" createDate="2015-08-25T12:04:44" updateDate="2015-08-25T12:04:44" nodeName="404" urlName="404" path="-1,1055,1080" isDoc="" nodeType="1065" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1064" nodeTypeAlias="ErrorPage">
      <showInNavigation>0</showInNavigation>
    </ErrorPage>
  </FrontPage>
</root>